*,
*:before,
*:after {
    box-sizing: border-box;
}

.html {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Spartan', sans-serif;
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-grey: hsl(0, 0%, 27%);
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 999;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__btn {
    display: none;
}

.logo__link {
   display: flex;
   margin-right: 20px;
}

.nav__list {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.nav__item {
    margin-right: 30px;
}

.nav__link {
    text-decoration: none;
    color: var(--white);
    text-transform: lowercase;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    }

.nav__link:hover.nav__link::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 2px;
    background-color: white;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.slider {
    display: flex;
    position: relative;
    flex: 2;
    }

.wrapper--img {
        display: flex;
        flex: 2;
        position: relative;
    }

.img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

.wrapper--slider-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    flex: 1;
}

.slider__header {
    font-size: 2.1rem;
    margin: 0;
    margin-bottom: 15px;
}

.text {
    color: var(--dark-gray);
    margin: 0;
    line-height: 1.1rem;
}

.slider__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: 20px;
    }

.link__text {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    height: 11px;
    padding-right: 25px;
}

.slider__link:hover {
    color: var(--dark-gray);
}

.slider__link:hover .link__icon {
    filter: brightness(0) saturate(100%) invert(72%) sepia(14%) saturate(0%) hue-rotate(147deg) brightness(90%) contrast(79%);
}
.wrapper--btns {
    display: flex;
    position: absolute;
    bottom: 0;
    right: -140px;
}

.btn {
    background-color: var(--black);
    padding: 35px;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
}

.btn:hover {
    background-color: var(--very-dark-grey);
    cursor: pointer;
}

.btn--left {
    background-image: url('./../icons/icon-angle-left.svg');
}

.btn--right {
    background-image: url('./../icons/icon-angle-right.svg');
}

.section-about {
    display: flex;
}

.section-about {
    flex: 1;
}

.wrapper--article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    flex: 3;
}

.article__header {
    text-transform: uppercase;
    letter-spacing: 5px;
}
@media (max-width: 832px) {
    .logo__link {
        margin-right: 0;
    }

    .nav__item {
        margin-right: 15px;
    }

    .wrapper--slider-text {
        padding: 0 40px;
    }

    .slider__header {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .slider__link {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .slider {
        flex-direction: column;
        flex: 1;
    }

    .wrapper--slider-text {
        padding: 40px;
    }

    .section-about {
        flex-direction: column;
        flex: 1;
        }

        .wrapper--img {
            flex: 1;
    }

    .wrapper--btns {
        right: 0;
    }
.wrapper--article {
    flex: 1;
}
}

@media (max-width: 425px) {
    .header {
        display: flex;
        margin: 0 auto;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px;
    }

    .nav {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex: 1;
        position: relative;
    }

    .nav__list {
        display: none;
    }

    .nav__link {
        color: black;
    }

    .logo--wrapper {
        display: flex;
    }

    .nav__btn {
        display: block;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: none;
        position: absolute;
        left: 20px;
        height: 100%;
    }

    .slider__header {
        font-size: 1.6rem;
    }

    .article__header {
        font-size: .9rem;
    }

    .btn {
        padding: 25px;
    }

    .btn--burger {
        display: inline-block;
        background: url('./../icons/icon-hamburger.svg') no-repeat no-repeat center;
        height: 14px;
        width: 20px;
    }

    .nav__expanded {
        background-color: white;
        color: black;
    }

    .btn--close {
        background: url('./../icons/icon-close.svg') no-repeat no-repeat center;
    }

    .hidden {
        display: none;
    }

    .visible {
        display: flex;
    }
    
    .header--active {
        background-color: white;
    }