*,
*:before,
*:after {
    box-sizing: border-box;
}

.html {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --black-transparent: hsla(0, 0%, 0%, .5);
    --white: hsl(0, 0%, 100%);
    --very-dark-grey: hsl(0, 0%, 27%);
    --h2-size: calc(1.5rem + (((100vw - 20rem) / (90 - 20))) * (2.25 - 1.5));
    --h4-size: calc(1rem + (((100vw - 20rem) / (90 - 20))) * (1.2 - 1));
    --paragraph-size: calc(.75rem + (((100vw - 20rem) / (90 - 20))) * (1 - .75));
    margin: 0;
    padding: 0;
    position: relative;
}

.header {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 999;
}

.nav {
    display: flex;
    align-items: center;
    position: relative;
}

.nav__btn {
    display: none;
}

.logo__link {
   display: flex;
   margin-right: 20px;
}

.nav__list {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.nav__item {
    margin-right: 30px;
    position: relative;
}

.nav__link {
    text-decoration: none;
    color: var(--white);
    text-transform: lowercase;
    font-weight: bold;
    }

.nav__link:hover.nav__link::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 2px;
    background-color: var(--white);
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    animation: linkHover .3s;
    -webkit-animation: linkHover .3s;
}

@keyframes linkHover {
    0% {
        width: 0px;
    }
    100% {
        width: 18px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 400px;
}

.slider {
    display: flex;
    position: relative;
    flex: 2;
    max-height: 60vh;
    min-height: 370px;
}

.slide {
    display: none;
}

.slide--active {
    display: flex;
    overflow-x: hidden;
}

.slide--active .wrapper--img .img {
    animation: showImg 1s;
    -webkit-animation: showImg 1s;
}

.slide--active .wrapper--slider-text {
    animation: moveText 1s;
    -webkit-animation: moveText 1s;
}

@keyframes showImg {
    0% {
        filter: blur(10px)
    }
    100% {
        filter: blur(0px);
    }
}

@keyframes moveText {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}

.wrapper--img {
    display: flex;
    flex: 2;
    position: relative;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.wrapper--slider-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 60px 70px 60px;
    flex: 1;
}

.slider__header {
    font-size: var(--h2-size);
    margin: 0;
    margin-bottom: 15px;
}

.text {
    color: var(--dark-gray);
    font-size: var(--paragraph-size);
    margin: 0;
    line-height: calc(1.5 * var(--paragraph-size));
}

.slider__link {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: 20px;
    transition: filter .3s;
    -webkit-transition: .3s -webkit-filter;
    -moz-transition: .3s -moz-filter;
    -moz-transition: .3s filter;
    -ms-transition: .3s -ms-filter;
    -o-transition: .3s -o-filter;
}

.link__text {
    display: inline-block;
    font-size: var(--paragraph-size);
    padding-right: 25px;
}

.slider__link:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(14%) saturate(0%) hue-rotate(147deg) brightness(90%) contrast(79%);
}
.wrapper--btns {
    display: flex;
    position: absolute;
    bottom: 0;
    right: -140px;
}

.btn {
    background-color: var(--black);
    padding: 35px;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    transition: background-color .3s;
}

.btn:hover {
    background-color: var(--very-dark-grey);
    cursor: pointer;
}

.btn--left {
    background-image: url('./../icons/icon-angle-left.svg');
}

.btn--right {
    background-image: url('./../icons/icon-angle-right.svg');
}

.section-about {
    display: flex;
    flex: 1;
    max-height: 40vh;
    min-height: 250px;
}

.wrapper--article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    flex: 3;
}

.article__header {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: var(--h4-size);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer__text {
    font-size: 8px;
    color: var(--black);
}

.footer__link {
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 832px) {
    .logo__link {
        margin-right: 0;
    }

    .nav__item {
        margin-right: 15px;
    }

    .wrapper--slider-text {
        padding: 0 40px 70px 40px;
    }

    .slider__header {
        margin-bottom: 10px;
    }

    .slider__link {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {

    .header {
        display: flex;
        margin: 0 auto;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        position: relative;
        padding: 20px 0;
    }

    .main {
        height: 100%;
    }

    .slider {
        min-height: unset;
        max-height: unset;
    }

    .slide {
        flex-direction: column;
    }

    .wrapper--slider-text {
        padding: 40px;
    }

    .section-about {
        flex-direction: column;
        flex: 1;
    }

    .wrapper--img {
        flex: 1;
    }

    .wrapper--btns {
        right: 0;
    }
    .wrapper--article {
        flex: 1;
    }

    .header--half-transparent {
        background-color: var(--black-transparent);
    }

    .header--active {
        background-color: var(--white);
        transition: background-color .4s;
    }

    .header--active .btn--burger {
        background: url('./../icons/icon-close.svg') no-repeat no-repeat center;
    }

    .header--active .nav {
        color: var(--black);
    }

    .header--active .logo {
        display: none;
    }

    .header--active .nav__list {
        display: flex;
    }

    .header--active~.main .overlay {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--black);
        height: 100vh;
        width: 100vw;
        z-index: 998;
        opacity: .3;
    }

    .section-about {
        max-height: unset;
        min-height: unset;
    }
}

@media (max-width: 425px) {
    .nav__list {
        display: none;
    }

    .nav__link {
        color: var(--black);
    }

    .nav__link:hover.nav__link::after {
        background-color: var(--black);
    }

    .logo--wrapper {
        display: flex;
    }

    .nav__btn {
        display: block;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: none;
        position: absolute;
        left: 20px;
    }
    .btn {
        padding: 25px;
    }

    .btn--burger {
        display: inline-block;
        background: url('./../icons/icon-hamburger.svg') no-repeat no-repeat center;
        height: 14px;
        width: 20px;
    }
}
@media (max-height: 620px) and (min-width: 768px) {
    .body {
        --h2-size: 18px;
        --h4-size: 16px;
        --paragraph-size: 12px;
    }
}